# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=app

# App
APP_TITLE=Example Server

# Backend
CORS=http://localhost:5173,http://127.0.0.1:5173

# Dev Ports
POSTGRES_PORT=5141
BACKEND_PORT=5142
